.alert-window{
  padding: 10px 10px 13px 20px;
  // display: grid;
  // justify-content: center;
  // grid-template-columns: 169px 15px 133px 9px 24px;

  @media screen and(min-width:1200px){
    padding: 8px 6px 8px 6px;
    display: flex;
  }
  
  background-color: #22252E;
}

.alert-window__list{
  display: grid;
  justify-content: center;
  grid-template-columns: 169px 15px 133px 9px 24px;
  grid-template-rows: repeat(2, [row] 1fr);

  @media screen and(min-width:1200px) {
  margin: auto;
  display: flex;
  align-items: center;
  }
}

.grid-2{
  grid-column:  1 /  2;
  grid-row: 2;
}

.grid-3{
  grid-column: 3 / 4;
  grid-row: 2;
}

.grid-4{
  display: block;
  margin-right: 9px;

  justify-self: end;
  grid-column: 3 / 4;

  @media  screen and (min-width:1200px) {
    display: none;
  }
}

.grid-5{
  grid-column: 5 / 6;
  
}

.alert-window__item{
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 16px;

  @media screen and (min-width:1200px){
    &:not(:last-child) {
        margin-right: 32px;
      }
  }
  
  &_orange{
    font-weight: 700;
    color: #FF8D00;
  }

  &_grey{
    color: #889099;
  } 

  &_white{
    color: white;
  }
}

.alert-window__img{
  margin-right: 5px;
}

.close-btn{
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;

  &_mobile-hidden{
    display: none;
    @media screen and (min-width:1200px){
      display: block;
    }
  }

  &_desk-hidden{
    display: block;

    @media screen and (min-width:1200px) {
      display: none;
    }
  }
}

.is-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}