.two-column-container{
  @media screen and (min-width:1200px){
    display: flex;
    justify-content: space-between;
  }
}

.recent-posts {
  position: relative;

  padding-bottom: 30px;
  padding-top: 20px;
}

@media screen and(min-width:1200px){
  .recent-posts::after {
      content: '';
      position: absolute;

      left: 109%;
      top: 30px;

      width: 1px;
      height: 1675px;
  
      background-color: #EBECED;
    }
}

.second-main__container{
  width: 315px;
}

.recent-posts-desctop-conatainer{
  @media screen and (min-width:1200px){
  width: 740px;
  }
}

.just-desctop-view{
  @media screen and (max-width:1200px){
    display: none;
  }
}

.recent-posts__title{
  margin-bottom: 40px;

  font-weight: 300;
  font-size: 32px;
  line-height: 1.4;
  
  color: var(--main-text-color)
}

.news-list__item{
  border-bottom: 1px solid #EBECED;
  transition: 250ms var(--animation-timer);


  &:not(:last-child){
    margin-bottom: 20px;
  }

  &:last-child{
    margin-bottom: 60px;
  }
}

.news-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;

  cursor: pointer;

  &:hover{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
  }
}

.news-list__description{
  padding: 19px 20px 67px 20px;

  @media screen and (min-width: 1200px){
    padding: 0px 28px 87px 40px;
    width: 460px;
  }
}

.news-list__news-title{
  margin-bottom: 14px;

  font-weight: 300;
  font-size: 24px;
  line-height: 1.42;
  
  color: var(--main-text-color);

}

.news-list__news-author{
  display: inline;
  margin-right: 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: var(--news-author);
}

.news-list__news-date{
  font-size: 13px;
  line-height: 1.6;
  
  color: var(--third-text-color);
}

.news-list__news-sourse{
  position: relative;

  margin-top: 8px;

  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  
  color: var(--secondary-text-color);

  &::before {
    content: '';
    position: absolute;
    
    top: 40px;
    left: 0;

    width: 16px;
    height: 16px;
  
    background-image: url(../img/pseudo-icons/icon-coment.svg);
  }
  
  &::after {
    content: '0';
    position: absolute;
  
    top: 40px;
    left: 22px;
  
    font-size: 14px;
    line-height: 1.6;
  
    color: var(--third-text-color);
  }
}

.older-posts__btn {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  background-color: white;
  color: var(--secondary-text-color);

  border: 1px solid #4CB649;
  border-radius: 30px;

  cursor: pointer;
  transition: 250ms var(--animation-timer);


  &:hover,
  &:focus,
  &:active {
    color: white;
    background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  @media screen and (min-width: 1200px){
    width:260px;
  }
}

.center-btn{
  text-align: center;
}

