:root {
--warning-background-color:#323642;
--news-author:#323642;
--titles-color:#323642;
--main-text-color:#22252E;
--secondary-text-color:#4CB649;
--third-text-color:#889099;
--warning-message-color:#FF8D00;
--animation-timer: cubic-bezier(0.4, 0, 0.2, 1);
}